<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppCenter-Config.plist
   appCenterExample

   Created by Gina Guerrero on 20/01/24.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
  <dict>
  <key>AppSecret</key>
  <string>58896531-7fc8-42df-bc9c-d095879c9459</string>
  </dict>
</plist>
